.choose-path_form{

    .line{
        width: 100%;
    }

    .bit{
        color: rgb(64, 92, 158);
        img{
            margin-right:0.5rem;
        }
    }

    .row{
        width: 100%;
    }

    .inner_content{
        margin-bottom: 4rem;
    }
   
}