@use '../../../styles/base';

.modal_background{
    z-index: 200;
    position: fixed;
    top:0;
    right: 0;
    height: 100%; 
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal_content{
        width: 330px;
        border-radius: 5px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: left;

        .close{
         //   width: 100%;
            text-align: end;
            background-color: transparent;
            font-size: 1.5rem;
            padding: 0.5rem 1rem;
            outline: none;
            border: none;
            padding-bottom: 0;
        }
    }
}